description "{{app_name}} service"
author      "Deepak"

start on filesystem or runlevel [2345]
stop on shutdown

script

    cd /home/{{ user_name }}/{{ project_dir }}/
    exec /home/{{ user_name }}/{{ project_dir }}/{{ venv_name }}/bin/{{ run_command }}

end script

